[Unit]
Description=Nimwit Discord Bot
Wants=network-online.target
After=network-online.target

[Service]
Type=forking
ExecStart=/root/Git/Nimwit/startBot.sh
Restart=always

[Install]
WantedBy=multi-user.target
